body{
    margin: 0%;
	background-image: url(../image/sugar.jpg);
	background-size: contain;
}
#logo{
    	margin:3px;
		margin-top: 20px;
		margin-left:25px;
		margin-right:-20px;
    	float:left;
    }
header{
    height: 15%;
    background-color: rgb(85, 146, 193);
    border-bottom: solid 1px; 
    font-family: 'Courier New', Courier, monospace;
    }
.title{
   margin-top: 10px;
	margin-left: 30px;
	float:left;
}
.user{
    margin-top: 10px;
    margin-right: 30px;
    float: right;
}
.img{
    float: left;
    height: 50px;
    width: 50px;
    margin-right: 40px;
}
img{
    width: 70px;
    border-radius: 50%;
}
.user_name{
    float: left;
    line-height: 40px;
    font-size: 20px;
}
.contact{
    float: left;
}
.contact h1{
    margin-top: 25px;
	margin-left: 40px;
}
.detail{
	margin-top:10px;
    float: right;
    margin-right: 10px;
}
fieldset{
    height: 92%;    
}
footer{
    height: 20%;
    width: 100%;
    background-color: rgb(102, 118, 131);
    color: rgb(255, 255, 255); 
    position: absolute;
    bottom: 0px;
    border-top: solid 1px;
}
.left{
    width: 75%;
    height: 30%;
    color: rgb(8, 10, 8);
    float: left;

}
.right{
    width: 24.8%;
    height: 70%;
    float: right;
	 background-color: rgb(207, 239, 243);
    border-left: solid 1px;  
    overflow: scroll; 
    text-align: justify;
    
}

.form{
    width: 60%;
    margin: auto;
	float:justify;
	margin: 20px 20px;
}
.key
{
    margin-top: 10px;
}
.value input{
    border-radius: 20%;
    width: 200px;
}
 button{
    margin-top: 5px;
    width: 200px;
    height: 30px;;
}
.right dl{
    margin: center;
    margin-left: 20px;
}
.right h3{
    text-align: center;
    text-decoration: underline;
}
legend{
    font-size: 20px;
}
.links{
    float: left;
    margin-left: 100px;
    margin-top: 25px; 
	display:inline-block;
}
.detail a{
    color: #fff;
}

.form-style-9{
    max-width: 450px;
    background: #FAFAFA;
    padding: 30px;
    margin: 50px 50px 50px 50px;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 6px solid #305A72;
}
.form-style-9 ul{
    padding:0;
    margin:0;
    list-style:none;
}
.form-style-9 ul li{
    display: block;
    margin-bottom: 10px;
    min-height: 35px;
}
.form-style-9 ul li  .field-style{
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    padding: 8px;
    outline: none;
    border: 1px solid #B0CFE0;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;

}.form-style-9 ul li  .field-style:focus{
    box-shadow: 0 0 5px #B0CFE0;
    border:1px solid #B0CFE0;
}
.form-style-9 ul li .field-split{
    width: 49%;
}
.form-style-9 ul li .field-full{
    width: 100%;
}
.form-style-9 ul li input.align-left{
    float:left;
}
.form-style-9 ul li input.align-right{
    float:right;
}
.form-style-9 ul li textarea{
    width: 100%;
    height: 100px;
}
.form-style-9 ul li input[type="button"], 
.form-style-9 ul li input[type="submit"] {
    -moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
    -webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
    box-shadow: inset 0px 1px 0px 0px #3985B1;
    background-color: #216288;
    border: 1px solid #17445E;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    padding: 8px 18px;
    text-decoration: none;
    font: 12px Arial, Helvetica, sans-serif;
}
.form-style-9 ul li input[type="button"]:hover, 
.form-style-9 ul li input[type="submit"]:hover {
    background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
    background-color: #28739E;
}
nav li {
  display: inline;
  margin: 0;
  padding: 0 10px;
}

nav ul {
  display: inline;
}

nav a {
  height: 30px;
  line-height: 30px;
  color: #204156;
  text-decoration: none;
}
.fa {

  padding: 20px;
  font-size: 30px;
  width: 10px;
  height: 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

* {
    box-sizing: border-box;
}

